---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: dns-api-credentials
  namespace: cert-manager
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: dns-api-credentials
    creationPolicy: Owner
  data:
    - secretKey: apiToken
      remoteRef:
        key: certmanager/dns-credentials
        property: apiToken
    - secretKey: apiSecret
      remoteRef:
        key: certmanager/dns-credentials
        property: apiSecret
