{% set secrets = [
  {"name": "gitlab-object-storage", "path": "gitlab/object-storage", "dest": "gitlab-object-storage"},
  {"name": "gitlab-backup-object-storage", "path": "gitlab/backup-object-storage", "dest": "gitlab-backup-object-storage"},
  {"name": "gitlab-registry-storage", "path": "gitlab/registry-storage", "dest": "gitlab-registry-storage"},
  {"name": "gitlab-postgres-secret", "path": "gitlab/postgres", "dest": configuration.gitlab.psql.secret},
  {"name": "gitlab-redis-secret", "path": "gitlab/redis", "dest": configuration.gitlab.redis.secret}
] %}
{% for s in secrets %}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ s.name }}
  namespace: gitlab-system
spec:
  type: kv-v2
  mount: secret
  path: {{ s.path }}
  destination:
    name: {{ s.dest }}
    create: true
  refreshAfter: 30s
  vaultAuthRef: default
{% endfor %}
