---
apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: gitlab
  namespace: gitlab-system
spec:
  chart:
    version: "{{ configuration.gitlab.chart_version }}"
    values:
      certmanager:
        install: false
      global:
        hosts:
          domain: apps.{{ cluster.name }}.{{ cluster.base_domain }}
          https: true
        ingress:
          configureCertmanager: false
          provider: openshift
          class: openshift-default
          annotations:
            route.openshift.io/termination: edge
        minio:
          enabled: true
          persistence:
            storageClass: {{ configuration.gitlab.block_storage_class }}
            size: 10Gi
      nginx-ingress:
        enabled: false
      gitlab:
        gitaly:
          persistence:
            storageClass: {{ configuration.gitlab.storage_class }}
            size: {{ configuration.gitlab.gitaly_size }}
        webservice:
          minReplicas: 1
        sidekiq:
          minReplicas: 1
      registry:
        hpa:
          minReplicas: 1
      postgresql:
        persistence:
          storageClass: {{ configuration.gitlab.block_storage_class }}
          size: {{ configuration.gitlab.postgresql_size }}
      redis:
        master:
          persistence:
            storageClass: {{ configuration.gitlab.block_storage_class }}
            size: {{ configuration.gitlab.redis_size }}
