---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gitlab
  namespace: gitlab-system
spec:
  parentRefs:
    - name: {{ configuration.gateway.name }}
      namespace: {{ configuration.gateway.namespace }}
  hostnames:
    - gitlab.apps.{{ cluster.name }}.{{ cluster.base_domain }}
  rules:
    - backendRefs:
        - name: gitlab-webservice-default
          port: 8181
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gitlab-pages
  namespace: gitlab-system
spec:
  parentRefs:
    - name: {{ configuration.gateway.name }}
      namespace: {{ configuration.gateway.namespace }}
  hostnames:
    - {{ configuration.gitlab.pages_subdomain }}.apps.{{ cluster.name }}.{{ cluster.base_domain }}
  rules:
    - backendRefs:
        - name: gitlab-gitlab-pages
          port: 8090
