---
apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: gitlab
  namespace: gitlab-system
spec:
  chart:
    version: "{{ configuration.gitlab.chart_version }}"
    values:
      certmanager:
        install: false
      gitlab:
        toolbox:
          backups:
            cron:
              enabled: true
              schedule: "{{ configuration.gitlab.backup_schedule }}"
              extraArgs: "--skip artifacts"
            objectStorage:
              config:
                secret: gitlab-backup-object-storage
                key: connection
      gitlab-exporter:
        enabled: false
      global:
        appConfig:
          artifacts:
            enabled: true
            bucket: gitlab-artifacts-storage
          backups:
            enabled: true
            bucket: gitlab-backup-storage
            tmpBucket: gitlab-tmp-storage
          dependencyProxy:
            enabled: true
            bucket: gitlab-dependency-proxy
          lfs:
            bucket: gitlab-lfs-storage
          object_store:
            enabled: true
            connection:
              secret: gitlab-object-storage
              key: connection
          omniauth:
            enabled: true
            allowSingleSignOn:
              - openid_connect
            autoLinkLdapUser: false
            blockAutoCreatedUsers: true
            providers:
              - key: provider
                secret: gitlab-keycloak
          packages:
            enabled: true
            bucket: gitlab-packages-storage
          terraformState:
            enabled: true
            bucket: gitlab-terraform-state
          uploads:
            enabled: true
            bucket: gitlab-uploads-storage
        gatewayApi:
          enabled: true
          gatewayName: {{ configuration.gateway.name }}
          namespace: {{ configuration.gateway.namespace }}
        hosts:
          domain: apps.{{ cluster.name }}.{{ cluster.base_domain }}
          pages:
            name: {{ configuration.gitlab.pages_subdomain }}.apps.{{ cluster.name }}.{{ cluster.base_domain }}
        ingress:
          class: none
          configureCertmanager: false
        minio:
          enabled: false
        pages:
          enabled: true
          accessControl: true
          host: {{ configuration.gitlab.pages_subdomain }}.apps.{{ cluster.name }}.{{ cluster.base_domain }}
          namespaceInPath: true
          objectStore:
            enabled: true
            bucket: gitlab-pages-storage
            connection:
              secret: gitlab-object-storage
              key: connection
        psql:
          host: {{ configuration.gitlab.psql.host }}
          port: {{ configuration.gitlab.psql.port }}
          database: {{ configuration.gitlab.psql.database }}
          username: {{ configuration.gitlab.psql.username }}
          password:
            secret: {{ configuration.gitlab.psql.secret }}
            key: {{ configuration.gitlab.psql.secret_key }}
        redis:
          host: {{ configuration.gitlab.redis.host }}
          auth:
            secret: {{ configuration.gitlab.redis.secret }}
            key: {{ configuration.gitlab.redis.secret_key }}
        registry:
          enabled: {{ configuration.gitlab.registry_enabled | lower }}
          storage:
            secret: gitlab-object-storage
            key: connection
          bucket: gitlab-registry-storage
        replicaCount: {{ configuration.gitlab.replicas }}
      metrics:
        enabled: false
      nginx-ingress:
        enabled: false
      postgresql:
        install: false
      prometheus:
        install: false
