---
- op: replace
  path: "/stringData"
  value:
    url: {{ configuration.gitops.repo_url | default('https://placeholder.example.com/repo.git') }}
    insecure: "true"
{% if configuration.gitops.git_username is defined %}
    username: {{ configuration.gitops.git_username }}
    password: {{ configuration.gitops.git_password }}
    forceHttpBasicAuth: "true"
{% endif %}
