---
- op: replace
  path: "/spec/provider/vault/auth/kubernetes/mountPath"
  value: {{ configuration.vault.mount_path }}

- op: replace
  path: "/spec/provider/vault/auth/kubernetes/role"
  value: {{ configuration.vault.role }}

- op: replace
  path: "/spec/provider/vault/path"
  value: {{ configuration.vault.secret_path }}

- op: replace
  path: "/spec/provider/vault/server"
  value: https://vault.apps.{{ cluster.name }}.{{ cluster.base_domain }}
